@tailwind base;
@tailwind components;
@tailwind utilities;

$main_color: #03000f;
$dark-purple: rgba(31, 12, 54, 0.686);
$light-purple: rgba(65, 32, 72, 0.5);
$text-color: rgba(238, 231, 224, 0.908);

html {
  background-color: $main_color;
  background: radial-gradient(
    circle at bottom right,
    black,
    $main_color 40%,
    rgba(33, 33, 64, 0.622) 60%,
    $dark-purple 70%,
    $light-purple 90%
  );
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  background-color: $main_color;
  color: $text-color;
}

#contact {
  background-color: $main_color;
  background: linear-gradient(
      to top,
      $light-purple 30%,
      $dark-purple 70%,
      transparent 100%,
    );
}
